    <div class="header">
      <div class="container">
        <h1>readme</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <ul class="articles">
          <% @articles.each do |a| %>
          <li>
            
            <span class="upvotes"> <%= a.upvotes %> </span>
            <a class="title" href="<%= a.url %>"><%= a.title %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>